.container-fluid
  .row
    #banner.col
.container
  .row
    ul.col-md-12
      li.col-md-4: a: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto:eco/v1502437137/banner/1.png")
      li.col-md-4: a: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto:eco/v1502437137/banner/2.png")
      li.col-md-4: a: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto:eco/v1502437137/banner/3.png")
      li.col-md-4: a: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto:eco/v1502437137/banner/4.png")
      li.col-md-4: a: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto:eco/v1502437137/banner/5.png")
      li.col-md-4: a: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto:eco/v1502437137/banner/6.png")
