#footer-inner.container-fluid
  .container
    .row
      #text-widget.col-md-4
        img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto:eco/v1502364142/logo_zry6wf.png")
        p ABC Town Luton Street, New York 226688
        p + 0800 567 345
        p.line support@themesmart.net
        ul.social-links
          li.facebook: i.fa.fa-facebook.fa-2x
          li.twitter: i.fa.fa-twitter.fa-2x
          li.google: i.fa.fa-google.fa-2x
          li.pinterest: i.fa.fa-pinterest.fa-2x
          li.linkedin: i.fa.fa-linkedin.fa-2x
      .col-md-8
        .row
          .footer-column.col-md-4
            h4 QUICK LINKS
            ul
              li Blog
              li FAQs
              li Payment
              li Shipment
              li Where is my order?
              li Return policy
          .footer-column.col-md-4
            h4 STYLE ADVISOR
            ul
              li Your Account
              li Information
              li Addresses
              li Discount
              li Orders History
              li Additional Information
          .footer-column.col-md-4
            h4 INFORMATION
            ul
              li Site Map
              li Search Terms
              li Advanced Search
              li About Us
              li Contact Us
              li Suppliers
#footer-bottom
  .container
    .row
      p © 2015 Themesmart. All Rights Reserved
