.container: .row
  .col-md-3
    #free-shipping.box
      .icon
        i.fa.fa-truck
      .content FREE SHIPPING on order over $99
  .col-md-3
    #need-help.box
      .icon
        i.fa.fa-phone
      .content NEED HELP +1 800 123 1234
  .col-md-3
    #money-back.box
      .icon
        i.fa.fa-usd
      .content MONEY BACK GUARANTEE
  .col-md-3
    #return-policy.box
      .icon
        i.fa.fa-briefcase
      .content 30 DAYS RETURN SERVICE

