.container-fluid
  .row
    #slider.col-md-12
      #slide
        #heading Simply delicious
          span Get 50% off
        #sub-heading Little things make a big difference
        .btn-main
          span  Shop Now
          i.fa.fa-caret-right
