a
  .product-image: img.img-responsive(src="{{product?.imagePath}}")
  .name {{product?.name}}
ul.rating
  li: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto/v1502437357/rating/one-point.png")
  li: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto/v1502437357/rating/one-point.png")
  li: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto/v1502437357/rating/one-point.png")
  li: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto/v1502437357/rating/one-point.png")
  li: img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto/v1502437357/rating/one-point.png")
.price {{product?.price}}
add-to-cart-button
