.avatar
  img.img-responsive(src="http://res.cloudinary.com/hjrjeoewr/image/upload/q_auto/v1502437387/testimonials/1.jpg" alt="")
.testimonials "Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."
.clients-author
  | Smith John
  span Happy Customer
ul
  li
  li
  li
