$main-green: #88be4c
$dark-green: #6a9c32

$main-black: #252932
$dark-black: #1b1e24

$main-red: #ed6663
$dark-red: #d95451

$main-white: #F5F5F5

$main-gray: #e5e5e5
$gray: #aaa

$main-blue: #94d7fb

$main-purple: #685c88

$main-pink: #fc9cc4

$main-orange: #dc4720
